control_address: 0.0.0.0:{{ .env.RTUN_PORT }}

agents:
{{- range .env.RTUN_AGENT | split ";" | strip | nonempty }}
  {{- $ports := . | before "@" | strip }}
  {{- $key := . | after "@" | strip }}
  - auth_key: "{{ $key }}"
    ports:
    {{- range $ports | split "," }}
      - "{{ . }}"
    {{- end }}
{{- end }}

{{ if index .env "RTUN_TLS_CERT" -}}
tls:
  cert_path: "{{ .env.RTUN_TLS_CERT }}"
  key_path: "{{ .env.RTUN_TLS_KEY }}"
{{ end -}}