gateway_url: "{{ .env.RTUN_GATEWAY }}"
auth_key: "{{ .env.RTUN_KEY }}"

forwards:
{{- range .env.RTUN_FORWARD | split "," | strip | nonempty }}
  {{- $port := . | before ":" }}
  {{- $dest := . | after ":" }}
  - port: "{{ $port }}"
    destination: "{{ $dest }}"
{{- end }}
